body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}
.cards, .wrapFormCard, .wrapButton {
    margin-bottom: 20px;
    padding: 0;
}
h4 {
    color: #82807e;
}
.sent-data, .get-data {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.brand {
    float: right;
    padding-top: 12px;
    padding-right: 15px;
}
.numCard {
    margin-bottom: 20px;
    padding-top: 60px;
    padding-left: 30px;
}
.numCard p, .dateCard p, .cvvCard p {
    align-items: flex-start;
    display: flex;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
.cvvCard i {
    font-size: 25px;
    font-weight: lighter;
    padding-left: 5px;
}
.numCard input {
    border: 0;
    border-bottom: 1px solid black;
    width: 300px;
}
.dateCard {
    padding-left: 15px;
}
.dateCard p {
    padding-bottom: 8px;
}
.dateCard input {
    border: 0;
    border-bottom: 1px solid black;
    text-align: center;
    width: 30px;
}
.cvvCard input {
    border: 0;
    border-bottom: 1px solid black;
    width: 50px;
}
.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    height: 210px;
    width: 360px;
}
.formCard, .formBut, .leftMain, .rightMain {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.chEmail input, .sumMon input, .allSum input, .mesEmail, .formBut button {
    height: 40px;
    width: 360px;
}
.chEmail input, .sumMon input, .allSum input {
    padding-left: 12px;
}
.chEmail input, .sumMon input {
    margin-bottom: 10px;
}
.mesEmail {
    align-items: center;
    display: flex;
    margin-top: -8px;
    margin-bottom: 0;
}
.mesEmail i {
    color: #82807e;
    font-size: 25px;
}
.mesEmail .checkbox-custom {
    margin-right: 5px;
}
.button {
    background-color: #49924d;
    border: 1px solid #9bc2a1;
    color: #e6fbe0;
    margin-top: -10px;
}
.checkbox {
    display: none;
}
label .label{
    color: #909291;
    font-size: 13px;
    font-weight: normal;
    padding-left: 0;
}
.checkbox-custom {
    border: 1px solid #ccc;
    border-radius: 1px;
    height: 13px;
    position: relative;
    width: 13px;
}
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
    content: '\2713';
    color: #3e3e3e;
    display: inline-block;
    font-size: 12px;
    left: 0.5px;
    position: absolute;
    top: -2px;
}

.input-group{
    margin-bottom: 10px;
    width: 360px;
}
.form-control{
    border-radius: 0;
    border-right: 0;
    height: 40px;
}
.input-group-addon{
    border-radius: 0;
    background-color: #ffffff;
    border-left: 0;
    color: #909291;
    font-weight: normal;
    font-size: 19px;
}
.formCard .cus-label{
    color: #909291;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.cus-input{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.navbar-default{
    border: 0;
}
#btnMoreMenu li a{
    color: #49924d;
}
.open-menu{
    display: block;
    border-radius: 1px;
}
#btnMore, #btnExit{
    border-radius: 50%;
    background-color: #49924d;
    color: white;
    padding: 6px 10px 6px 10px;
}
#btnMore:hover, #btnExit:hover{
    background-color: red;
    color: white;
}
.navbar-default{
    padding-top: 10px;
}
.navbar-right li{
    padding-right: 10px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
#btnMoreMenu li a:hover{
    background-color: red;
    color: white;
    border-radius: 3px;
}
.navbar-default .navbar-nav > li > a{
    color: #49924d;
    border-radius: 3px;
    padding: 12px 80px 12px 80px;
}